/* Remove default margin and padding for the body */
body {
    margin: 0;
    padding: 0;
  }
  
  /* Optional: Remove any margin from AppBar component if necessary */
  .MuiAppBar-root {
    margin-top: 0;
  }
  