.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(47, 47, 47);
  // height: 60px;
}

header {
  z-index: 3 !important;
}

.title-toggle {
  display: flex;
  align-items: center;
  gap: 20px; 
}

.hamburger {
  all: unset;
  cursor: pointer;
  color: white; /* Default color */
  background: none;

}

.hamburger:hover {
  color: orange; /* Hover color */
}

.header-title {
  font-weight: bold;
  color: white;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.greet-user {
  font-weight: 100;
  font-size: medium;
  color: white;
}

.MuiButton-root {
  color: white;
  text-transform: none;
}
