.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-title {
    font-weight: bold;
    color: white;
  }
  
  .header-actions {
    display: flex;
    align-items: center;
  }
  
  .MuiButton-root {
    color: white;
    text-transform: none;
  }
  